{% extends 'base/base.html' %}

{% block title %}Cart - ShopMate{% endblock %}

{% block content %}
{% if cart_items %}
  {% with cart=cart_items.0.cart_items %}
    <section class="products">
      <div class="product-grid">
        {% for product_id, product in cart.items %}
          <div class="product-card">
            <img src="{{ MEDIA_URL }}{{ product.product_image }}" alt="{{ product.name }}" />
            <h3>{{ product.name }}</h3>
            <p>₹{{ product.price }}</p>
            <p>{{ product.description }}</p>
            <p>Quantity: {{ product.quantity }}</p>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endwith %}
{% else %}
  <p>Your cart is empty.</p>
{% endif %}


{% endblock %}
