{% extends 'base/base.html' %} {% block title %}Product - ShopMate{% endblock %}
{% block content %}
    <section class="category-section">
    <h2>Categories</h2>
    <div class="categories">
        <button class="category-btn">All</button>
        <button class="category-btn">Electronics</button>
        <button class="category-btn">Fashion</button>
        <button class="category-btn">Footwear</button>
        <button class="category-btn">Accessories</button>
        <button class="category-btn">Home & Kitchen</button>
    </div>
    </section>

    
{% endblock %}
